<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Net</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bio_information.css') }}">
    <!-- <link rel="stylesheet" href="../static/styles/VPanel.css"> -->
</head>
<body>
    <div id="C1">
        <br>
        <label>Employee Net</label>
        <sub><a href="http://127.0.0.1:5000//vpanel">Go to Dashboard</a></sub>
        <img src="../static/styles/001-job-search.png" alt="">
    </div>
    {% for message in get_flashed_messages() %}
        <div class="warning">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    <form action="http://127.0.0.1:5000//F13A" method="post" id="F1a">
        <div class="container1">
            <br>
            <label for="uname"><b>CNIC #</b></label>
            <input type="text" placeholder="Enter CNIC Number" name="s_cnic" required autocomplete="off">
            <button type="submit">Search</button>
        </div>
    </form>
    <form action="http://127.0.0.1:5000//F13B" method="post" id="F1">
        <div class="container2">
            <div>
                <br>
                <label for="uname"><b>Minimum Age</b></label>
                <br>
                <input type="text" placeholder="Enter minimum age or 0 to avoid" name="s_min_age" required autocomplete="off">
                <br>
                <br>
                <label for="uname"><b>Gender</b></label>
                <br>
                <select name="s_gender" id="" required>
                    <option value="" disabled selected>Please choose one</option>
                    <option value="All">All</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Transgender">Transgender</option>
                </select>
                <br>
                <br>
                <label for="uname"><b>HouseHold Income</b></label>
                <br>
                <input type="text" placeholder="Enter household income or 0 to avoid" name="s_hhi" required autocomplete="off">
            </div>
            <div>
                <br>
                <label for="uname"><b>Maximum Age</b></label>
                <br>
                <input type="text" placeholder="Enter maximum age or 0 to avoid" name="s_max_age" required autocomplete="off">
                <br>
                <br>
                <label for="uname"><b>Gurdian</b></label>
                <br>
                <select name="s_gurdian" id="" required>
                    <option value="" disabled selected>Please choose one</option>
                    <option value="All">All</option>
                    <option value="A">A</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                </select>
                <br>
                <br>
                <label for="uname"><b>Family Members</b></label>
                <br>
                <input type="text" placeholder="Enter family members or 0 to avoid" name="s_family_no" required autocomplete="off">
            </div>
            <div>
                <br>
                <label for="uname"><b>District</b></label>
                <br>
                <select name="s_district" id="" required>
                    <option value="" disabled selected>Please choose one</option>
                    <option value="All">All</option>
                    <option value="Quetta">Quetta</option>
                    <option value="Multan">Multan</option>
                    <option value="Gilgit">Gilgit</option>
                    <option value="Islamabad">Islamabad</option>
                    <option value="Faisalabad">Faisalabad</option>
                    <option value="Muzafarabad">Muzafarabad</option>
                    <option value="Karachi">Karachi</option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Lahore">Lahore</option>
                    <option value="Peshawar">Peshawar</option>
                    <option value="Bhawalpur">Bhawalpur</option>
                    <option value="Sialkot">Sialkot</option>
                    <option value="Mardan">Mardan</option>
                    <option value="Rawalpindi">Rawalpindi</option>
                    <option value="Gujranwala">Gujranwala</option>
                </select>
                <br>
                <br>
                <label for="uname"><b>Martial Status</b></label>
                <br>
                <select name="s_martial_status" id="" required>
                    <option value="" disabled selected>Please choose one</option>
                    <option value="All">All</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Widowed">Widowed</option>
                </select>
                <br>
                <br>
                <label for="uname"><b>Disability</b></label>
                <br>
                <select name="s_disability" id="" required>
                        <option value="" disabled selected>Please choose one</option>
                        <option value="All">All</option>
                        <option value="Intellectual">Intellectual</option>
                        <option value="Sensory">Sensory</option>
                        <option value="Mental">Mental</option>
                        <option value="Physical">Physical</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <button type="submit">Filter</button>
    </form>
    <form action="http://127.0.0.1:5000//F13C" method="post">
        <div class="Count">
            <label for="uname"><b>Records Found:  {{count}}</b></label>
            <label for="uname"><b>Select:</b></label>
            <input type="text" placeholder="People to give relief" name="s_people_count" required autocomplete="off">
            <label for="uname"><b>Relief Registration #</b></label>
            <input type="text" placeholder="Relief registration number" name="s_rr_no" required autocomplete="off">
            <button type="submit">Give Relief</button>
        </div>
    </form>
    <div class="CC1">
        <br>
        <label for="" id="CC3">CNIC</label>
        <label for="" id="CC4">Name</label>
        <label for="" id="CC5">Age</label>
        <label for="" id="CC6">Gender</label>
        <label for="" id="CC7">District</label>
    </div>
    {% for i in range(11) %}
        <div class="CC2">
            <input type="text" disabled value="{{data[i][0]}}">
            <input type="text" disabled value="{{data[i][1]}}">
            <input type="text" disabled value="{{data[i][2]}}">
            <input type="text" disabled value="{{data[i][3]}}">
            <input type="text" disabled value="{{data[i][4]}}">
        </div>
    {% endfor %}
</body>
</html>