<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Net</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bio_deletion.css') }}">
    <!-- <link rel="stylesheet" href="../static/styles/VPanel.css"> -->
</head>
<body>
    <div id="C1">
        <br>
        <label>Employee Net</label>
        <sub><a href="http://127.0.0.1:5000//apanel//t">Go to Dashboard</a></sub>
        <img src="../static/styles/001-job-search.png" alt="">
    </div>
    {% for message in get_flashed_messages() %}
        <div class="warning">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    <div>
        <form action="http://127.0.0.1:5000//F03A" method="post" id="F1">
            <div class="container1">
                <br>
                <label for="uname"><b>CNIC</b></label>
                <input type="text" placeholder="Enter cnic" name="s_cnic" required autocomplete="off">
                <button type="submit">Search</button>
            </div>
        </form>
        <form action="http://127.0.0.1:5000//F03B" method="post">
            <div class="container">
                <div>
                    <br>
                    <label for="uname"><b>CNIC</b></label>
                    <br>
                    <input type="text" placeholder="Enter cnic" name="fu_cnic" required autocomplete="off" value="{{bio.cnic}}" disabled>
                    <br>
                    <br>
                    <label for="uname"><b>Age</b></label>
                    <br>
                    <input type="text" placeholder="Enter Age" name="fu_age" required autocomplete="off" value="{{bio.age}}" disabled>
                    <br>
                    <br>
                    <label for="uname"><b>Contact Number</b></label>
                    <br>
                    <input type="text" placeholder="Enter Contact Number" name="fu_contact_no" required autocomplete="off" value="{{bio.contact_no}}" disabled>
                    <br>
                    <br>
                    <label for="uname"><b>Disabled</b></label>
                    <br>
                    <select name="fu_disabled" id="" disabled>
                        <option value="{{bio.disabled}}" selected>{{bio.disabled}}</option>
                    </select>
                    <br>
                    <br>
                    <label for="uname"><b>Guardian</b></label>
                    <br>
                    <select name="fu_guardian" id="" disabled>
                        <option value="{{bio.guardian}}" selected>{{bio.guardian}}</option>
                    </select>
                    <br>
                    <br>
                    <label for="uname"><b>Family Members</b></label>
                    <br>
                    <input type="text" placeholder="Enter Family Members" name="fu_family_members" required autocomplete="off" value="{{bio.family_members}}" disabled>
                </div>
                <div>
                    <br>
                    <label for="uname"><b>Full Name</b></label>
                    <br>
                    <input type="text" placeholder="Enter Full Name" name="fu_name" required autocomplete="off" value="{{bio.name}}" disabled>
                    <br>
                    <br>
                    <label for="uname"><b>Gender</b></label>
                    <br>
                    <select name="fu_gender" id="" disabled>
                        <option value="{{bio.gender}}" selected>{{bio.gender}}</option>
                    </select>
                    <br>
                    <br>
                    <label for="uname"><b>District</b></label>
                    <br>
                    <select name="fu_district" id="" disabled>
                        <option value="{{bio.district}}" selected>{{bio.district}}</option>
                    </select>
                    <br>
                    <br>
                    <label for="uname"><b>Martial Status</b></label>
                    <br>
                    <select name="fu_martial_status" id="" disabled>
                        <option value="{{bio.martial_status}}">{{bio.martial_status}}</option>
                    </select>
                    <br>
                    <br>
                    <label for="uname"><b>House Hold Income</b></label>
                    <br>
                    <input type="text" placeholder="Enter House Hold Income" name="fu_hhi" required autocomplete="off" value="{{bio.hhi}}" disabled>
                </div>
            </div>
            <button type="submit">Delete</button>
          </form>
    </div>
</body>
</html>