*{
    padding: 0px;
    margin: 0px;
}
body
{
    margin: 0px;
    background-color: rgba(137, 43, 226, 0.822);
}
.warning
{
    height:50px;
    width: 80%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(230, 221, 171);
    text-align: center;
    font-size: x-large;
    padding-top: 1%;
}
#c1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0px;
}
#c2{
    min-height: 550px;
    margin: 50px;
    background-image: url("./001-boy.png");
    background-size: cover;
    background-position: center;
}
#c3{
    min-height: 550px;
    margin: 50px;
    background-image: url("./002-bussiness-man.png");
    background-size: cover;
    background-position: center;
}